<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="text-center mt-5">Register</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form th:action="@{/register}" method="post" th:object="${user}" class="mt-4">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" th:field="*{username}" class="form-control"/>
                    <div th:if="${#fields.hasErrors('username')}" class="text-danger" th:errors="*{username}">Incorrect username</div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" th:field="*{password}" class="form-control"/>
                    <div th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}">Incorrect password</div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" th:field="*{email}" class="form-control"/>
                    <div th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}">Incorrect email</div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
        </div>
    </div>
</div>
<!-- Bootstrap JS and dependencies (Optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
